--------------------------
whois (https://pypi.org/project/whois/)
ipwhois (https://pypi.org/project/ipwhois/)
pip3 install dnsdumpster --user
--------------------------

requests
bs4
urllib
ipwhois
whois
dnsdumpster
